* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.calculatrice {
  background-color: rgb(39, 38, 38);
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 7px 15px 20px black;
}

.ecran {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  box-shadow: inset 0 3px #a8a8a8;
}

.touches {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 3px;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 3px #a8a8a8;
  font-size: 18px;
  margin: 3px;
}

button:active {
  box-shadow: 0 1px #a8a8a8;
  transform: translateY(2px);
}

button[data-key="8"] {
  background-color: rgb(255, 196, 0);
  font-weight: bold;
  color: white;
}

button[data-key="13"] {
  grid-column: span 2;
  background-color: rgb(1, 204, 1);
  color: white;
  font-size: 30px;
}
